.login{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__window{
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.form__switch{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
}
.movable{
    width: 80px;
    height: 40px;
    background-color: lightblue;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    right: unset;
    transition: all ease-in-out 0.3s;
    
}

.left{
    z-index: 199;
    padding: 10px;
    font-weight: bold;
}
.right{
    z-index: 123;
    padding: 10px;
    font-weight: bold;
}

.login__img{
    height: 70px;
}

.form > form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
form > input{
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    visibility: visible;
    transition: visibility linear 0.3s;
}

form > button{
    background-color: rgb(0 102 154);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}